<!DOCTYPE html>
<html lang="en">
<title>LOGIN</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
}
  button {
        background-color: #0;
        color: black;
         padding: 14px 20px;
        margin: 8px 0; 
        border: none;
        cursor: pointer;
        width: 18%;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>



<!-- Header -->
<header class="w3-container w3-center" style="background-color: #f2c9a7;">
  <h1 class="w3-margin w3-jumbo">LOGIN</h1>
</header>

<div class="container">
<body>

<br>


<table style="width:100%" >
 <tr>
   <th style="text-align:center"><h4><span><strong>Faculty Login</strong></span></h4></th>
   <th style="text-align:center"><h4><strong>HOD Login</strong></h4></th>
   <th style="text-align:center"><h4><strong>Admin Login</strong></h4></th>
 </tr>
 <tr>
   <td align="center"><a href="{% url 'login' %}"></a></td>
   <td align="center"><a href="{% url 'login_hod' %}"></a></td>
   <td align="center"><a href="{% url 'adminlogin' %}"></a></td>
 </tr>
 <tr>
   <td align="center"><button><a href="{% url 'login' %}">Login</a></button></td>
   <td align="center"><button><a href="{% url 'login_hod' %}">Login</a></button></<td>
   <td align="center"><button><a href="{% url 'adminlogin' %}">Login</a></button></td>
 </tr>
</table>
</body>